.baseForm {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color:var(--gray-10); 
  width: 22%;
  min-width: 250px;
  max-width: 400px;
  border-radius: var(--radius-1);
  height: max-content;
  padding-bottom: 35px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}


.inputsAreaOne {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.inputsAreaTwo{
  width: 91%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
 
.buttonsAreaOne {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5px;
}
.buttonsAreaTwo{
  width: 91%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
 


.BackgroundOne {
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-8);
}

.passwordWarning {
   align-self: flex-end;
   margin-right: 15px;
   color: var(--gray-2);
}
.errorMessage {
  color: var(--alert-1);
}

.acountWarningOne {
  color: var(--gray-2);
}

.acountWarningTwo {
  color: var(--gray-2);
  align-self: flex-start;
  
}