.buttonConfirm {
background-color: var(--brand-1);
color: var(--whiteFixed);
border: none;
width: 92%;
height: 40px;
border-radius: var(--radius-1);
margin-top: 5px;
cursor: pointer;
}

.registerButton {
    color: var(--gray-0);
    background-color: transparent;
    border: solid var(--gray-4) 1.5px;
    width: 92%;
    height: 40px;
    margin-top: 5px;
    border-radius: var(--radius-1);
    cursor: pointer;
}

.registerButtonSelected {
    background-color: var(--brand-1);
    color: var(--whiteFixed);
}