@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* Brand */

  --brand-1: #4529e6;
  --brand-2: #5126ea;
  --brand-3: #b0a6f0;
  --brand-4: #edeafd;

  /* Grey Scale */

  --gray-0: #0b0d0d;
  --gray-1: #212529;
  --gray-2: #495057;
  --gray-3: #868e96;
  --gray-4: #adb5bd;
  --gray-5: #ced4da;
  --gray-6: #dee2e6;
  --gray-7: #e9ecef;
  --gray-8: #f1f3f5;
  --gray-9: #f8f9fa;
  --gray-10: #fdfdfd;
  --whiteFixed: #ffffff;

  /* Feedback */

  --alert-1: #cd2b31;
  --alert-2: #fdd8d8;
  --alert-3: #ffe5e5;
  --sucess-1: #18794e;
  --sucess-2: #ccebd7;
  --sucess-3: #ddf3e4;

  /* Colors Random Profile */

  --random-1: #e34d8c;
  --random-2: #c04277;
  --random-3: #7d2a4d;
  --random-4: #7000ff;
  --random-5: #6200e3;
  --random-6: #36007d;
  --random-7: #349974;
  --random-8: #2a7d5f;
  --random-9: #153d2e;
  --random-10: #6100ff;
  --random-11: #5700e3;
  --random-12: #30007d;

  font-family: "Inter", sans-serif;

  --radius-1: 4px
}

.headline-1-700 {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 3.5rem;
}

.headline-2-600 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.813rem;
}

.headline-3-600 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
}

.headline-3-500 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
}

.headline-4-600 {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.188rem;
}

.headline-4-500 {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.188rem;
}

.headline-5-600 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.headline-5-500 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.headline-6-600 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.563rem;
}

.headline-6-500 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.563rem;
}

.headline-7-600 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
}

.headline-7-500 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
}

.body-1-400 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
}

.body-1-600 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.75rem;
}

.body-2-400 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.body-2-500 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.button-big-text {
  font-weight: 600;
  font-size: 1rem;
}

.button-medium-text {
  font-weight: 600;
  font-size: 1rem;
}

.input-placeholder {
  font-weight: 400;
  font-size: 1rem;
}

.input-label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.063rem;
}
