html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, small, ol, ul, li, form, label, article, aside, footer, header, nav, input, textarea, select
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
button {
	cursor: pointer;
}