.labelOne {
    color: var(--gray-1);
    font-weight: 600;
}

.inputDivOne {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
 }


 .inputOne {
    width: 100%;
    margin-top: 5px;
    height: 35px;
    border: solid var(--gray-7) 1.5px;
    border-radius: var(--radius-1);
}

.inputOne::placeholder {
    color: var(--gray-3);
    font-weight: 400;
    font-size: 1rem;
}

.inputTwo {
    width: 98%;
    margin-top: 5px;
    height: 35px;
    border: solid var(--gray-7) 1.5px;
    border-radius: var(--radius-1);
}

.inputTwo::placeholder {
    color: var(--gray-3);
    font-weight: 400;
    font-size: 1rem;
}



.inputContainer {
    display: flex;
    flex-direction: column;

    width: 95%;
    margin: 20px auto;
}

.label {
    margin-bottom: 4px;
}

.input {
    width: 100%;
    padding: 12px;

    border: solid var(--gray-7) 1.5px;
    border-radius: var(--radius-1);
}

.textArea {
    resize: none;
    padding: 12px 4px 12px 12px;
    min-height: 96px;

    font-family: "Inter", sans-serif;
}