.baseForm {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 30px;
  background-color: var(--gray-10);
  width: 22%;
  min-width: 250px;
  max-width: 400px;
  border-radius: var(--radius-1);
  height: max-content;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 15px;
  font-family: "Lexend";
  font-style: normal;
}

.subTitle {
  margin-bottom: 15px;
}

.link {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inputsAreaOne {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.inputsAreaTwo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttonsAreaOne {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.buttonsAreaTwo {
  width: 99%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.BackgroundOne {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray-8);
}

.passwordWarning {
  align-self: flex-end;
  color: var(--gray-2);
}
.errorMessage {
  color: var(--alert-1);
}

.acountWarningOne {
  align-self: center;
  color: var(--gray-2);
}

.acountWarningTwo {
  color: black;
  align-self: flex-start;
}

.footerLoginRegister {
  width: 98%;
}

