.buttons_container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;

  gap: 16px;
  margin-top: 24px;
}

.delete_button_container {
  width: min(100%, 290px);
}

.confirm_cancel_button_container {
  display: flex;
  justify-content: space-between;

  width: min(100%, 290px);

  gap: 16px;
}

.confirm_cancel_button_container > button {
  width: fit-content;
}