.page_logo {
    
}

.page_logo > p {
    display: inline;

    font-family: 'Inter', sans-serif;
}

.page_logo_firstName {
    font-size: 1.5rem;
    font-weight: 700;
}

.page_logo_secondName {    
    font-weight: 600;
}
