.modal_background {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100vh;

    background-color: #00000047;
}

.modal_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    max-width: 500px;

    background-color: var(--whiteFixed);
    border-radius: 4px;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 95%;
    margin: 0 auto;
}

.modal_body {
    padding: 16px;
}