.page_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    
    font-family: "Roboto", sans-serif;
}

.page_header .page_header_buttons {
    border-left: solid #0b0d0d3d 2px;
    padding-left: 24px;
    padding-right: 24px;

    height: 100%;
}

.page_header .page_header_buttons > button {
    margin-right: 16px;
}

.page_header .page_header_buttons > button > a {
    text-decoration: none;
}

.profileContainer {
    display: flex;
    align-items: center;
    gap: 16px;

    position: relative;

    padding-right: 32px;
}

.profileImageContainer {
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background-color: var(--brand-1);
    color: var(--whiteFixed)
}

.hidden_menu {
    position: absolute;
    z-index: 1;

    top: 100%;
    background-color: var(--whiteFixed);

    border-radius: 5px;
    padding: 8px;
    width: 110%;

    box-shadow: 2px 2px 18px black;
}

.hidden_menu_buttons {
    border: none;
    background-color: unset;

    text-decoration: none;
    font-size: 0.9rem;
    padding: 8px 0px;
}