.containerGeral{
    background-color: var(--gray-8);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lexend';
}

.backgroundBlue{
    background-color: var(--brand-1);
    width: 100vw;
    height: 200px;
}

.perfilUser{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10rem;
    width: 80vw;
    background-color: var(--gray-10);
    border-radius: 5px;
    padding: 30px 20px;
}

.perfilUser p{
    font-family: 'inter';
    line-height: 22px;
    margin-bottom: 1rem;
}

.perfilUser button{
    width: 160px;
    max-width: 160px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--gray-10);
    border: solid var(--brand-1) 1.5px;
    color: var(--brand-1);
    font-family: 'inter';
    font-weight: 600;
}

.imgPerfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.containerCards{
    margin-top: 18rem;
}

.cardTextContainer {
    height: 90px;
}

.cardTextContainer>h3 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    /* Grey Scale/grey-1 */

    color: #212529;
    margin-bottom: 13px;
    margin-top: 13px;
}

.cardTextContainer>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* or 171% */


    /* Grey Scale/grey-2 */

    color: #495057;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.cardUserContainer {
    height: 32px;
    margin-top: 7px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}

.cardUserContainer>p {
    /* Text/body-2-500 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */


    /* Grey Scale/grey-2 */

    color: #495057;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.cardDataContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.badge>button {
    width: 50px;
    height: 32px;

    /* Brand/brand4 */

    background: #EDEAFD;
    border-radius: 4px;

    border: none;
    cursor: pointer;
    margin-right: 10px;

    /* Text/body-2-500 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;


    color: #4529E6;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardDataContainer>p {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #212529;
}

.userData{
    display: flex;
    margin: 20px 0;
    gap: 2rem; 
}

.userData h2{
    font-size: 20px;
    font-weight: 600;
}

.userData span{
    color: var(--brand-1);
    background-color: var(--brand-4);
    padding: 5px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
}

.ulContainer {
    display: flex;
    width: 90vw;
    gap: 5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.ulContainer>li {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 312px;
    max-width: 312px;
    height: 356px;
    gap: 1rem;
}

.imgCard{
    background-color: var(--gray-7);
    width: 100%;
    height: 150px;
}

.nextPrev{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.nextPrev > span {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    text-align: center;
    color: #868E96;
}

.nextPrev > a {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    text-align: center;

    color: #5126EA;
    text-decoration: none;

}

.divButtons{
    display: flex;
    gap: 1rem;
    font-family: 'inter';
}

.divButtons > button{
    padding: 8px 12px;
    color: var(--gray-1);
    background-color: var(--whiteFixed);
    font-weight: 600;
    font-size: 14px;
    border: solid var(--gray-1) 2px;
    border-radius: 4px;
}