.form_container {
    width: 95%;
    margin: 0 auto;
}

.linkInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    margin: 20px auto;
}

.linkInputContainer input {
    padding-right: 32px;
}

.linkInputContainer div {
    margin: unset;
}

.linkInputContainer button {
    height: 16px;
    width: 16px;
    min-width: unset;

    position: absolute;
    right: 5%;
    transform: translate(50%, 80%);
}

.buttonAddContainer {
    width: 95%;
    margin: 0 auto;
}

.buttonAddContainer > button {
    width: 100%;
}

.buttonConfirmCancelContainer {
    width: fit-content;
    margin-left: auto;
    margin-top: 32px;

    display: flex;
    gap: 16px;
}