.baseForm {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 30px;
    background-color:var(--gray-10); 
    width: 27%;
    min-width: 250px;
    max-width: 400px;
    border-radius: var(--radius-1);
    height: max-content;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

  }

  .buttonsAreaTwo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
   